<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
     <class name="com.library1.library1"/>
      <class name="com.pages1.pages1"/>
      <class name="com.testcases1.TestTuxedo"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
